.card {
    margin-bottom: 12px;

    .card-content {
        display: flex;
        flex-direction: row;
        align-items: center;

        .actions {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            gap: 8px;
        }
    }
}