
  @for(user of users(); track user){

    <mat-card class="card">
      <mat-card-content class="card-content">
         <!-- pipe sem paramentros -->
        <!-- <span> {{ user.name | titlecase  | truncate}} </span> -->

          <!-- pipe com paramentros -->
        <span> {{ user.name | titlecase  | truncate: 9}} </span>

        <div class="actions">
          <button  appErrorBtn matButton="filled" (click)="remove(user)">Remove</button>
          <button matButton="filled" (click)="edit(user)">Editar</button>
        </div>

      </mat-card-content>
    </mat-card>

  }@empty {
    <li>No users found</li>
  }